/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* 2. Remove default margin */
    margin: 0;
    /* 3. Add accessible line-height */
    line-height: calc(1em + 0.5rem);
}

body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* End CSS Reset */

/* Better Shadows */
:root {
    --shadow-color: 312deg 20% 36%;
    --shadow-elevation-low:
        0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.35),
        0.7px 0.9px 1.3px -1.2px hsl(var(--shadow-color) / 0.35),
        1.6px 2.1px 3px -2.5px hsl(var(--shadow-color) / 0.35);
    --shadow-elevation-medium:
        0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.37),
        1.3px 1.8px 2.5px -0.8px hsl(var(--shadow-color) / 0.37),
        3.3px 4.4px 6.2px -1.7px hsl(var(--shadow-color) / 0.37),
        8px 10.7px 15px -2.5px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-high:
        0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
        2.3px 3.2px 4.4px -0.4px hsl(var(--shadow-color) / 0.34),
        4.4px 5.9px 8.3px -0.7px hsl(var(--shadow-color) / 0.34),
        7.2px 9.7px 13.6px -1.1px hsl(var(--shadow-color) / 0.34),
        11.5px 15.5px 21.7px -1.4px hsl(var(--shadow-color) / 0.34),
        18px 24.2px 33.9px -1.8px hsl(var(--shadow-color) / 0.34),
        27.4px 36.8px 51.6px -2.1px hsl(var(--shadow-color) / 0.34),
        40.4px 54.2px 76.1px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background: rgb(223, 174, 180);
    background: linear-gradient(180deg, rgba(223, 174, 180, 1) 0%, rgba(223, 174, 180, 1) 55%, rgba(130, 102, 127, 1) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #B486AB;
    box-shadow: var(--shadow-elevation-medium);
    border: 3px solid #1a1319;
    margin: 20px 0 50px;
    padding: 15px 30px;
    position: relative;
}

nav::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle at center,
            #1a1319 0.15rem,
            transparent 0), radial-gradient(circle at center, #1a1319 0.15rem, transparent 0);
    background-size: 0.8rem 0.8rem;
    background-position: 0 0, 0.4rem 0.4rem;
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0));
    mask-image: linear-gradient(177deg, rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0) 60%, rgb(0 0 0) 100%);
    z-index: -1;
}

nav li {
    list-style: none;
}

nav a {}

main {}

section {
    width: 100%;
    padding: 40px;
    margin-bottom: 50px;
    position: relative;
    min-height: 300px;
}

section.styled-bg {
    background-color: #B486AB;
    box-shadow: var(--shadow-elevation-medium);
    border: 3px solid #1a1319;
    margin-bottom: 70px;
}

section.styled-bg::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle at center,
            #1a1319 0.15rem,
            transparent 0), radial-gradient(circle at center, #1a1319 0.15rem, transparent 0);
    background-size: 0.8rem 0.8rem;
    background-position: 0 0, 0.4rem 0.4rem;
    z-index: -1;
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0));
    mask-image: linear-gradient(180deg, rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0) 75%, rgb(0 0 0) 100%);
}

section.styled-bg.lean-left {
    transform: rotate(1.3deg);
}

section.styled-bg.lean-left::after {
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0));
    mask-image: linear-gradient(177deg, rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0) 75%, rgb(0 0 0) 100%);
}

section.styled-bg.lean-right {
    transform: rotate(-1.3deg);
}

section.styled-bg.lean-right::after {
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0));
    mask-image: linear-gradient(183deg, rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0) 75%, rgb(0 0 0) 100%);
}

/* Button Styling */
a.styled-button {
    border: 3px solid #1a1319;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    color: #1a1319;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top: 0;
    right: 0;
    font-weight: 600;
    text-transform: uppercase;
    /* background: repeating-conic-gradient(#fff 0% 25%, transparent 0% 50%) 50% / 15px 15px; */
}

a.styled-button::before {
    content: '';
    position: absolute;
    background: #fff;
    top: 7px;
    right: 12px;
    bottom: 7px;
    left: 12px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
}

a.styled-button::after {
    content: '';
    position: absolute;
    background: #1a1319;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    clip-path: polygon(4% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
    z-index: -2;
}

a.styled-button:hover {
    top: -5px;
    right: -5px;
}

a.styled-button:hover::after {
    top: -3px;
    right: -3px;
    bottom: -8px;
    left: -8px;
}

/* Slider Styling */
.swiper {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.swiper-slide {
    height: auto;
}

.swiper-slide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 3px solid #1a1319;
}

/* Content Width and Responsiveness */
.content-width {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .content-width {
        width: 90%;
    }
}